form.logInForm{
    border: 1px solid black;
    vertical-align: middle;
}

.logInForm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50vw;
    align-self: center;
    padding-left: 25%;
}

.submitLogIn {
    width: 25%;
    border-radius: 10%;
    align-self: center;
}