.logInForm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50vw;
    align-self: center;
    padding-left: 25%;
}

.submitLogIn {
    width: 25%;
    border-radius: 15px;
    align-self: center;
}